@if (item(); as item) {
<div class="bg-slate-800 rounded-lg border border-slate-700 h-full flex flex-col cursor-pointer transition-all duration-300 hover:border-blue-500 hover:shadow-2xl hover:shadow-blue-900/50 overflow-hidden relative">
  
  <button (click)="toggleSave($event)" title="Save to Library" class="absolute top-3 right-3 z-10 p-2 rounded-full bg-slate-900/50 hover:bg-slate-700/75 transition-colors">
    @if(isSaved()) {
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-pink-400" viewBox="0 0 20 20" fill="currentColor">
        <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
      </svg>
    } @else {
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-slate-300" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.5 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
      </svg>
    }
  </button>

  @if (item.imageUrl) {
    <div class="aspect-video">
        <img [ngSrc]="item.imageUrl" [alt]="item.title" class="w-full h-full object-cover" width="400" height="225" [priority]="index() < 6">
    </div>
  }
  
  <div class="p-5 flex-grow flex flex-col">
    <div class="flex justify-between items-center mb-2">
      <p class="text-sm text-slate-400">{{ item.publishedDate | date:'MM/dd/yyyy' }}</p>
      <span class="px-2 py-0.5 text-xs font-bold rounded-md" [class]="advisoryColor()">
        {{ item.advisoryJudgement.split(' - ')[1] }}
      </span>
    </div>

    <h3 class="text-lg font-bold text-slate-100 mb-3 leading-snug">{{ item.title }}</h3>
    <p class="text-sm text-slate-300 leading-relaxed flex-grow">{{ item.summary }}</p>

    <div class="mt-4 pt-4 border-t border-slate-700">
      <div class="flex flex-wrap gap-2">
        @for(tag of item.tags; track tag) {
          <span class="px-2 py-1 text-xs font-medium rounded-md" [class]="getTagColor(tag)">{{ tag }}</span>
        }
      </div>
    </div>
  </div>
</div>
}