@if (item(); as item) {
<!-- Force redeploy for image fix -->
<div
  class="bg-white rounded-xl shadow-sm hover:shadow-md transition-shadow duration-200 overflow-hidden border border-gray-100 h-full flex flex-col cursor-pointer transition-all duration-300 hover:border-blue-500 hover:shadow-2xl hover:shadow-blue-900/50 overflow-hidden relative">

  <button (click)="toggleSave($event)" title="Save to Library"
    class="absolute top-3 right-3 z-10 p-2 rounded-full bg-slate-900/50 hover:bg-slate-700/75 transition-colors">
    @if(isSaved()) {
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-pink-400" viewBox="0 0 20 20" fill="currentColor">
      }
</div>
</div>
</div>
</div>
}